* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: inherit;
}

nav {
    width: 240px;
    background-color: #245580;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    transition: all ease-in-out 200ms;
    -webkit-transition: all ease-in-out 200ms;
}

nav img {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}

nav ul {
    padding-left: 30px;
    padding-top: 60px;
}

nav ul li {
    list-style: none;
    padding: 4px 0px;
}

nav ul li a {
    font-family: Arial;
    font-weight: 300;
    color: #272727;
    text-transform: uppercase;
}

#toggleMenu {
    width: 20px;
    height: 20px;
    background-color: #fff;
    background-image: url(../images/close.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1050;
    cursor: pointer;

    border-radius: 2px;
    transition: all ease-in-out 200ms;
    -webkit-transition: all ease-in-out 200ms;
}

#toggleMenu:hover {
    opacity: 0.7;
}